# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual Environment
venv/

# Dependencies / Installed packages
/lib
/local
/bin

# Environment variables
.env
.flaskenv

# Testing / Debugging
*.log
*.sqlite3
/test/


# Visual Studio Code
.vscode/
# PyCharm
.idea/